{% load static %}
<!DOCTYPE html>
<html>
  <head>
     
    <meta charset="utf-8">
    <meta name="description" content="secure your space.power your future ">
	  <meta name="keywords" content="CCTV and solar installation,">
  	<meta name="author" content="Brad mayor">
    <title>Mayor's solar & security hub | Welcome</title>
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
   
    
    
    
    <link rel="icon" href="../../img/favicon.png">
    
    
  </head>
  <body>



    <header>
      <div class="container">
        <div id="branding">
          <h1 style="color: skyblue;"> Mayor's Solar and Security Hub </h1>
          <br>
          “secure your space.power your future”
        </div>
        
      <div>
    
        <nav>
          <ul>
            <li class="current"><a href="home.html">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
          </ul>
        </nav>
        </div>
        </header>
        <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email..." required>
          <button type="submit" class="button_1">Subscribe</button>
          <br>
          <br>
    
      <p>          
          
          </p>
        </form>
      </div>
    </section>
    
    

    <section id="showcase">
      <div class="container">
          
     <h1 style="color:green   ;">Secure Your Space. Power Your Future.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="color:green ;
        font-style:italic;"> 
      Delivering reliable security systems and sustainable energy solutions for homes, businesses, and vehicles <br>
      <br>
      MOTTO: your trusted partner for security, energy & smart technology 
        
        
        </p>
      </div>
    </section>
    <br>
    <br>

  
    <div class="container">
    <h3>
    we  secure Your Space. Power Your Future.
With over 15 Years of trusted experience, we deliver reliable security systems and energy solutions designed for homes, businesses, and vehicles.
    </h3>
    </div>

    <section id="boxes">
      <div class="container">
          <h1 style=" color:grey;">why choose us</h1>
       <p>
          ✔️ Professional Installation & Maintenance 
       </p>
       
          
         

        
       <p>
           ✔️ 15+ Years of Experience              
       </p>
        
        <p>
         ✔️ Trusted products  
        </p>
        
       <p>
           ✔️ Customized for Homes, Businesses & vehicles
       </p>
            
        </div>
        
        <div class ="container">
        <h2 style="color: grey;">What Our Clients Say</h2>
      <p>"Mayor's Hub transformed our home security and energy system. Highly professional and reliable!" – A. Johnson</p>
      <p>"Excellent service from start to finish. They really care about safety and sustainability." – K. Mohammed</p>
      </div>

<br>
<br>
<br>
<br>



<div style="text-align: center; padding:               px;">
  <a href="https://www.facebook.com/profile.php?id=100086363296904&mibextid=ZbWKwL" target="_blank" style="margin: 0 10px;">
    <i class="fab fa-facebook-f" style="font-size: 25px;color:#1877f2;"></i>
  </a>
  <a href="https://www.instagram.com/mayowabiodun1?igsh=MWU3ZGZrY3FjdHpoYg==" target="_blank" style="margin: 0 10px;">
    <i class="fab fa-instagram" style="font-size: 25px; color:#E1306C ;"></i>
  </a>
  <a href="https://x.com/MayorAbiodun17?t=Q1utKPxM5bUzIT1YJeFloA&s=09" target="_blank" style="margin: 0 10px;">
    <i class="fab fa-x-twitter" style="font-size: 25px;color: black"></i>
  </a>
  <a href="https://wa.me/qr/FYPNYYWOE4H4B1 "target="_blank"style="margin:0 10px;">
      <i class="fab fa-whatsapp"style="font-size:25px;color: #25D366;"></i>
  </a>
</div>

</section>

    <footer>
      <p> Mayor's Solar and Security Hub Copyright &copy; 2025-All rights reserved</p>
      for more information ✉️ joshuamayowa907@gmail.com 
      📱 07083354971
    </footer>

    <!-- Confirmation Popup -->
    <div id="confirmationModal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <p>Thank you for subscribing!</p>
      </div>
    </div>

    <script src="welcome.js"></script>
    
  </body>
</html>